# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
gas-price-comparison.csv

# production
/build
/forking

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
.env.e2e
src/data/fill-times-preset.json
src/data/exclusive-relayer-configs.json
src/data/exclusive-relayer-weights.json
src/data/exclusivity-strategy.json
src/data/exclusivity-fill-times.json
src/data/rpc-providers.json

# IDE
.idea
.vscode
*.code-workspace

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vercel
.netlify

# cypress
/cypress/videos
/cypress/downloads
/cypress/screenshots

# storybook
build-storybook.log
storybook-static

# Amplitude
ampli.json

# Bundle size analysis
bundle-size-analysis.*
stats.*

# Playwright and synpress
/test-results/
/e2e/tests-out/
/playwright-report/
/blob-report/
/playwright/.cache/
.cache-synpress
