
# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Note: CODEOWNERS are automatically requested for review on relevant PRs.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo unless a later match takes precedence.
* @mrice32 @nicholaspai @dohaki @gsteenkamp89 @amateima @ashwinrava @melisaguevara @NikolasHaimerl

# Serverless api
/api/ @mrice32 @nicholaspai @dohaki @pxrl @melisaguevara @amateima @ashwinrava @NikolasHaimerl

# FE
/src/ @mrice32 @nicholaspai @dohaki @gsteenkamp89 @amateima

# Shared
/src/data/ @mrice32 @nicholaspai @dohaki @pxrl @gsteenkamp89 @melisaguevara @amateima @ashwinrava @NikolasHaimerl
/scripts/ @mrice32 @nicholaspai @dohaki @pxrl @gsteenkamp89 @melisaguevara @amateima @ashwinrava @NikolasHaimerl
