/* Onboard custom CSS */
.bn-onboard-custom.bn-onboard-modal {
  background: rgba(0, 0, 0, 0.9);
}
.bn-onboard-custom .bn-onboard-modal-content {
  background-color: var(--color-primary);
  color: var(--color-gray);
  border-radius: 12px;
}

.bn-onboard-custom .bn-onboard-modal-select-wallets {
  background-color: var(--color-gray);
  border-radius: 48px;
  color: var(--color-white);
}

.bn-onboard-custom .bn-onboard-modal-content-header-icon {
  display: none;
}

.bn-onboard-custom .bn-onboard-modal-content-header-heading {
  visibility: hidden;
}

.bn-onboard-custom .bn-onboard-modal-content-header-heading::before {
  content: "Choose wallet provider";
  visibility: visible;
}

.bn-onboard-custom .bn-onboard-select-description {
  display: none;
}

.bn-onboard-custom .bn-onboard-select-wallet-info {
  display: none;
}

.bn-onboard-custom .bn-onboard-modal-content-close {
  height: 35px;
}

.bn-onboard-custom .bn-onboard-modal-content-close:hover {
  background-color: var(--color-primary);
  cursor: pointer;
}

.bn-onboard-custom .bn-onboard-modal-content-close svg {
  height: 16px;
  width: 16px;
}
.bn-onboard-custom .bn-onboard-modal-content-close svg path {
  fill: var(--color-gray);
}

.bn-onboard-custom.bn-onboard-icon-button {
  height: 50px;
}
.bn-onboard-custom.bn-onboard-modal-select-wallets ul li {
  width: 100%;
}
.bn-onboard-custom.bn-onboard-icon-button span {
  margin-left: 42%;
}

.bn-onboard-custom.bn-onboard-icon-button div {
  margin-left: 8px;
}
