
/* Override root variables to style the Onboard modal */
:root {
  --onboard-connect-header-background: #2d2e33;
  --onboard-connect-header-color: #e0f3ff;
  --onboard-connect-sidebar-color: #e0f3ff;
  --onboard-connect-sidebar-background: #2d2e33;
}
